/**
 * The .admin.theme.css file is intended to contain presentation declarations
 * including images, borders, colors, and fonts.
 */

/* @group Reset */

.views-admin .links {
  list-style: none outside none;
  margin: 0;
}

.views-admin a:hover {
  text-decoration: none;
}

/* @end */

/* @group Layout */

.box-padding {
  padding-left: 12px;
  padding-right: 12px;
}

.box-margin {
  margin: 12px 12px 0 12px;
}

/* @end */

/* @group Icons */

.views-admin .icon {
  height: 16px;
  width: 16px;
}

.views-admin .icon,
.views-admin .icon-text {
  background-attachment: scroll;
  background-image: url(../images/sprites.png);
  background-position: left top; /* LTR */
  background-repeat: no-repeat;
}
[dir="rtl"] .views-admin .icon,
[dir="rtl"] .views-admin .icon-text {
  background-position: right top;
}

.views-admin a.icon {
  background-image:
    url(../images/sprites.png),
    -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.0, rgba(255, 255, 255, 1.0)),
      color-stop(1.0, rgba(232, 232, 232, 1.0))
    );
  background-image:
    url(../images/sprites.png),
    -webkit-linear-gradient(
      -90deg,
      #fff 0,
      #e8e8e8 100%);
  background-repeat: no-repeat, repeat-y;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0,0,0,0.3333) inset;
}

.views-admin a.icon:hover {
  border-color: #d0d0d0;
  box-shadow: 0 0 1px rgba(0,0,0,0.3333) inset;
}

.views-admin a.icon:active {
  border-color: #c0c0c0;
}

/**
 * Targets a <span> element inside an <a> element.
 * This assumes no visible text from the span.
 */
.views-admin span.icon {
  display: inline-block;
  float: left;
  position: relative;
}

.views-admin .icon.compact {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

/* Targets any element with an icon -> text combo */
.views-admin .icon-text {
  padding-left: 19px; /* LTR */
}
[dir="rtl"] .views-admin .icon-text {
  padding-left: 0;
  padding-right: 19px;
}

.views-admin .icon.linked {
  background-position: center -153px;
}

.views-admin .icon.unlinked {
  background-position: center -195px;
}

.views-admin .icon.add {
  background-position: center 3px;
}

.views-admin a.icon.add {
  background-position: center 3px, left top;
}

.views-admin .icon.delete {
  background-position: center -52px;
}

.views-admin a.icon.delete {
  background-position: center -52px, left top;
}

.views-admin .icon.rearrange {
  background-position: center -111px;
}

.views-admin a.icon.rearrange {
  background-position: center -111px, left top;
}

.views-displays .secondary a:hover > .icon.add {
  background-position: center -25px;
}

.views-displays .secondary .open a:hover > .icon.add {
  background-position: center 3px;
}

/* @end */

/* @group Forms */

details.box-padding {
  border: none;
}

.views-admin details details {
  margin-bottom: 0;
}

.form-item {
  margin-top: 9px;
  padding-bottom: 0;
  padding-top: 0;
}

.form-type-checkbox {
  margin-top: 6px;
}

input.form-checkbox,
input.form-radio {
  vertical-align: baseline;
}

.form-submit:not(.js-hide) + .form-submit,
.views-admin a.button:not(.js-hide) + a.button {
  margin-left: 1em; /* LTR */
}
[dir="rtl"] .form-submit:not(.js-hide) + .form-submit,
[dir="rtl"] .views-admin a.button:not(.js-hide) + a.button {
  margin-right: 1em;
}

.container-inline {
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-inline > * + *,
.container-inline .details-wrapper > * + * {
  padding-left: 4px; /* LTR */
}
[dir="rtl"] .container-inline > * + *,
[dir="rtl"] .container-inline .details-wrapper > * + * {
  padding-left: 0;
  padding-right: 4px;
}

.views-admin details details.container-inline {
  margin-bottom: 1em;
  margin-top: 1em;
  padding-top: 0;
}

.views-admin details details.container-inline > .details-wrapper {
  padding-bottom: 0;
}

/* Indent form elements so they're directly underneath the label of the checkbox that reveals them */
.views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 16px; /* LTR */
}
[dir="rtl"] .views-admin .form-type-checkbox + .form-wrapper {
  margin-left: 0;
  margin-right: 16px;
}

/* Hide 'remove' checkboxes. */
.views-remove-checkbox {
    display: none;
}

/* sizes the labels of checkboxes and radio button to the height of the text */
.views-admin .form-type-checkbox label,
.views-admin .form-type-radio label {
  line-height: 2;
}

/* @group Dependent options */

.views-admin-dependent .form-item {
  margin-bottom: 6px;
  margin-top: 6px;
}

/* @end */

/* @end */

/* @group Lists */

.views-ui-view-title {
  font-weight: bold;
  margin-top: 0;
}

/* @end */

/* @group Messages */

.view-changed {
  margin-bottom: 21px;
}

/* @end */

/* @group Headings */

/* Intentionally targeting h1 */
.views-admin h1.unit-title {
  font-size: 15px;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 18px;
}

/* @end */

/* @group List views */

/* These header classes are ambiguous and should be scoped to th elements */

th.views-ui-name {
  width: 18%;
}

th.views-ui-description {
  width: 26%;
}

th.views-ui-tag {
  width: 8%;
}

th.views-ui-path {
  width: auto;
}

th.views-ui-operations {
  width: 24%;
}

/* @end */

/* @group Add view */

/**
 * Drupal core forces AJAX triggering elements to float left when they are
 * disabled due to AJAX processing. On the add view page, we have inline
 * containers where we don't want that behavior; it causes the select dropdown
 * which is triggered to jump to the left while the AJAX throbber is active.
 *
 * See also http://drupal.org/node/769936 (Drupal core issue); when that is
 * fixed it may no longer be necessary to do this.
 */
.views-admin .container-inline .progress-disabled {
  float: none;
}

/**
 * I wish this didn't have to be so specific
 */
.form-item-description-enable + .form-item-description {
  margin-top: 0;
}

.form-item-description-enable label {
  font-weight: bold;
}

.form-item-page-create,
.form-item-block-create {
  margin-top: 13px;
}

.form-item-page-create label,
.form-item-block-create label,
.form-item-rest-export-create label {
  font-weight: bold;
}

/* This makes the form elements after the "Display Format" label flow underneath the label */
.form-item-page-style-style-plugin > label,
.form-item-block-style-style-plugin > label {
  display: block;
}

.views-attachment .options-set label {
  font-weight: normal;
}

/* @end */

/* @group Rearrange filters
 *
 * Styling for the form that allows views filters to be rearranged.
 */

.group-populated {
  display: none;
}

td.group-title {
  font-weight: bold;
}

.views-ui-dialog td.group-title {
  margin: 0;
  padding: 0;
}

.views-ui-dialog td.group-title span {
  display: block;
  height: 1px;
  overflow: hidden;
}

.group-message .form-submit,
.views-remove-group-link,
#views-add-group {
  float: right;
  clear: both;
}

.views-operator-label {
  font-style: italic;
  font-weight: bold;
  padding-left: 0.5em; /* LTR */
  text-transform: uppercase;
}
[dir="rtl"] .views-operator-label {
  padding-left: 0;
  padding-right: 0.5em;
}

.grouped-description,
.exposed-description {
  float: left;
  padding-top: 3px;
  padding-right: 10px;
}

#edit-options-more {
  clear: both;
}

/* @end */

/* @group Attachments */

.views-displays {
  border: 1px solid #ccc;
  padding-bottom: 36px;
}

.views-display-top {
  background-color: #e1e2dc;
  border-bottom: 1px solid #ccc;
  padding: 8px 8px 8px; /* LTR */
  position: relative;
}
[dir="rtl"] .views-display-top {
  padding: 8px 8px 8px;
}

.views-display-top .secondary {
  margin-right: 18em;
}

.views-display-top .secondary > li {
  margin-right: 6px;
  padding-left: 0;
}

.views-display-top .secondary > li:last-child {
  margin-right: 0;
}

.views-display-top #views-display-top {
  max-width: 180px;
}

/* @end */

/* @group Attachment details tabs
 *
 * The tabs that switch between sections
 */

.views-displays .tabs.secondary {
  margin-right: 200px;
  border: 0;
}

.views-displays .tabs.secondary li,
.views-displays .tabs.secondary li.active {
  background: transparent;
  margin-bottom: 5px;
  border: 0;
  padding: 0;
  width: auto;
}

.views-displays .tabs.secondary li.add ul.action-list li{
  margin: 0;
}

.views-displays .tabs.secondary li {
  margin: 0 5px 0 6px;
}

.views-displays .tabs.secondary .tabs__tab + .tabs__tab {
  border-top: 0;
}

.views-displays .tabs.secondary li.tabs__tab:hover {
  border: 0;
  padding-left: 0;
}

.views-displays .tabs.secondary a {
  border: 1px solid #cbcbcb;
  border-radius: 7px;
  display: inline-block;
  font-size: small;
  line-height: 1.3333;
  padding: 3px 7px;
}

/**
 * Display a red border if the display doesn't validate.
 */
.views-displays .tabs.secondary li.active a.active.error,
.views-displays .tabs.secondary a.error {
  border: 2px solid #ed541d;
  padding: 1px 6px;
}

.views-displays .tabs.secondary a:focus {
  outline: none;
}

.views-displays .tabs.secondary li a {
  background-color: #fff;
}

.views-displays .tabs.secondary li a:hover,
.views-displays .tabs.secondary li.active a,
.views-displays .tabs.secondary li.active a.active {
  background-color: #555;
  color: #fff;
}

.views-displays .tabs.secondary .open > a {
  background-color: #f1f1f1;
  border-bottom: 1px solid transparent;
  position: relative;
}

.views-displays .tabs.secondary .open > a:hover {
  color: #0074bd;
  background-color: #f1f1f1;
}

.views-displays .tabs.secondary .action-list  li {
  background-color: #f1f1f1;
  border-color: #cbcbcb;
  border-style: solid;
  border-width: 0 1px;
  padding: 2px 9px;
}

.views-displays .tabs.secondary .action-list  li:first-child {
  border-width: 1px 1px 0;
}

.views-displays .secondary .action-list  li:last-child {
  border-width: 0 1px 1px;
}

.views-displays .tabs.secondary .action-list  li:last-child {
  border-width: 0 1px 1px;
}

.views-displays .tabs.secondary .action-list input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  padding: 0;
}

.views-displays .tabs.secondary .action-list li:hover {
  background-color: #ddd;
}

/* @end */

/* @group Attachment details */
#edit-display-settings {
  margin: 12px 12px 0 12px
}


#edit-display-settings-title {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

#edit-display-settings-top {
  border: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0 0 15px 0;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
}

#edit-displays-settings-settings-content {
  margin-top: 12px;
}

/* @end */

/* @group Attachment columns
 *
 * The columns that contain the option buckets e.g. Format and Basic Settings
 */

.views-display-column {
  border: 1px solid #f3f3f3;
}

.views-display-column + .views-display-column {
   margin-top: 0;
 }

/* @end */

/* @group Auto preview
 *
 * The auto-preview checkbox line.
 */

#views-ui-preview-form .form-type-checkbox {
  margin-top: 2px;
  margin-left: 2px;
}

#views-ui-preview-form .form-type-textfield, #views-ui-preview-form .form-actions {
  margin-top: 5px;
}

#views-ui-preview-form .arguments-preview {
  font-size: 1em;
}

#views-ui-preview-form .arguments-preview,
#views-ui-preview-form .form-type-textfield {
  margin-left: 14px;
}

#views-ui-preview-form .form-type-textfield label {
  display: inline-block;
  float: left;
  font-weight: normal;
  height: 6ex;
  margin-right: 0.75em;
}

.form-item-live-preview,
.form-item-view-args,
#preview-submit-wrapper {
  display: inline-block;
}

.form-item-live-preview,
#preview-submit-wrapper {
  vertical-align: top;
}

@media screen and (min-width:45em) { /* 720px */
  #views-ui-preview-form .form-type-textfield .description {
    white-space: nowrap;
  }
}

/* @end */

/* @group Attachment buckets
 *
 * These are the individual "buckets," or boxes, inside the display settings area
 */

.views-ui-display-tab-bucket {
  border-bottom: 1px solid #f3f3f3;
  line-height: 20px;
  margin: 0;
  padding-top: 4px;
}

.views-ui-display-tab-bucket:last-of-type {
  border-bottom: none;
}

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: medium none;
}

.views-ui-display-tab-bucket > h3,
.views-ui-display-tab-bucket > .views-display-setting {
  padding: 2px 6px 4px;
}

.views-ui-display-tab-bucket h3 {
  font-size: small;
  margin: 0;
}

.views-ui-display-tab-bucket.access {
  padding-top: 0;
}

.views-ui-display-tab-bucket.page-settings {
  border-bottom: medium none;
}

.views-display-setting .views-ajax-link {
  margin-left: 0.2083em;
  margin-right: 0.2083em;
}

/* @end */

/* @group Attachment bucket overridden
 *
 * Applies a overriden(italics) font style to overridden buckets.
 * The better way to implement this would be to add the overridden class
 * to the bucket header when the bucket is overridden and style it as a
 * generic icon classed element. For the moment, we'll style the bucket
 * header specifically with the overriden font style.
 */

.views-ui-display-tab-setting.overridden,
.views-ui-display-tab-bucket.overridden > h3 {
  font-style: italic;
}

/* @end */

/* @group Attachment bucket drop button */

.views-ui-display-tab-bucket {
  position: relative;
}

/* @end */

/* @group Attachment bucket rows
 *
 * This is each row within one of the "boxes."
 */

.views-ui-display-tab-bucket .views-display-setting {
  color: #666;
  font-size: 12px;
  padding-bottom: 2px;
}

.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: #f3f5ee;
}

.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting {
  background-color: transparent;
}

.views-ui-display-tab-bucket .views-group-text {
  margin-top: 6px;
  margin-bottom: 6px;
}

.views-display-setting .label {
  margin-right: 3px; /* LTR */
}
[dir="rtl"] .views-display-setting .label {
  margin-left: 3px;
  margin-right: 0;
}

/* @end */

.views-edit-view {
  margin-bottom: 15px;
}

/* @group Preview
 *
 * The preview controls and the preview pane
 */

#edit-displays-preview-controls .details-wrapper > * {
  float: left;
}

#edit-displays-preview-controls .details-wrapper > .form-item {
  margin-top: 0.3333em;
}

#edit-displays-preview-controls .form-submit {
  display: inline-block;
  margin-right: 1em;
}

#edit-displays-preview-controls .form-type-textfield {
  margin-left: 1em;
  position: relative;
}

#edit-displays-preview-controls .form-type-textfield label {
  border-left: 1px solid #999;
  padding-left: 1em;
  position: absolute;
}

#edit-displays-preview-controls .form-type-textfield label:after {
  content: ":";
}

#edit-displays-preview-controls .form-type-textfield label ~ * {
  margin-left: 105px;
}

/* @end */

/* @group Modal dialog box
 *
 * The contents of the popup dialog on the views edit form.
 */

.views-filterable-options .form-type-checkbox {
  border: 1px solid #ccc;
  padding: 5px 8px;
  border-top: none;
}

.views-filterable-options {
  border-top:  1px solid #ccc;
}

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #f3f4ee;
}

.filterable-option .form-item {
  margin-bottom: 0;
  margin-top: 0;
}

.views-filterable-options .form-type-checkbox .description {
  margin-top: 0;
  margin-bottom: 0;
}

#views-filterable-options-controls {
  margin: 1em 0;
}

#views-filterable-options-controls .form-item {
  width: 45%;
  margin-right: 2%; /* LTR */
}
[dir="rtl"] #views-filterable-options-controls .form-item {
  margin-left: 2%;
  margin-right: 0;
}

#views-filterable-options-controls input,
#views-filterable-options-controls select {
  width: 200px;
}

.views-ui-dialog .ui-dialog-content {
  padding: 0;
}

.views-ui-dialog .views-filterable-options {
  margin-bottom: 10px;
}

.views-ui-dialog .views-add-form-selected.container-inline {
  padding: 0;
}

.views-ui-dialog .views-add-form-selected.container-inline > div {
  display: block;
}

.views-ui-dialog #edit-selected {
  margin: 0;
  padding: 6px 16px;
}

.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override {
  background-color: #f3f4ee;
}

.views-ui-dialog.views-ui-dialog-scroll .ui-dialog-titlebar {
  border: none;
}

.views-ui-dialog .views-override {
  padding: 8px 13px;
}

.views-ui-dialog [data-drupal-views-offset] {
  border: 1px solid #ccc;
}

.views-ui-dialog [data-drupal-views-offset="top"] {
  border-width: 0 0 1px;
}

.views-ui-dialog [data-drupal-views-offset="bottom"] {
  border-width: 1px 0 0;
}

.views-ui-dialog .views-override > * {
  margin: 0;
}

.views-ui-dialog #views-ajax-title h2 {
  font-size: 15px;
  padding: 8px 13px;
  margin: 0;
}

.views-ui-dialog #views-progress-indicator {
  font-size: 11px;
  position: absolute;
  right: 10px; /* LTR */
  top: 8px;
}
[dir="rtl"] .views-ui-dialog #views-progress-indicator {
  left: 10px;
  right: auto;
}

.views-ui-dialog #views-progress-indicator:before {
  content: "\003C\00A0";
}

.views-ui-dialog #views-progress-indicator:after {
  content: "\00A0\003E";
}

.views-ui-dialog details .item-list {
  padding-left: 2em;
}
/* @end */

/* @group Configure filter criteria */

/* @todo the width and border info could be moved into a more generic class */
/* @todo Make this a class to be used anywhere there's node types? */
.form-type-checkboxes #edit-options-value,
.form-type-checkboxes #edit-options-validate-options-node-types {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  max-height: 210px;
  overflow: auto;
  margin-top: 5px;
  padding: 0 5px;
  width: 190px;
}

/* @end */

/* @group Rearrange filter criteria */

#views-ui-rearrange-filter-form table {
  border-collapse: collapse;
}

#views-ui-rearrange-filter-form tr td[rowspan] {
  border-color: #cdcdcd;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

#views-ui-rearrange-filter-form tr[id^="views-row"] {
  border-right: 1px solid #cdcdcd;
}

#views-ui-rearrange-filter-form tr[id^="views-row"].even td {
  background-color: #f3f4ed;
}

#views-ui-rearrange-filter-form .views-group-title {
  border-top: 1px solid #cdcdcd;
}

#views-ui-rearrange-filter-form .group-empty {
  border-bottom: 1px solid #cdcdcd;
}

/* @end */

/* @group Expose filter form items */

.form-item-options-expose-required,
.form-item-options-expose-label,
.form-item-options-expose-description {
  margin-bottom: 6px;
  margin-left: 18px;
  margin-top: 6px;
}

/* @end */

/* @group Live preview elements */

#views-preview-wrapper {
  border: 1px solid #ccc;
  padding-bottom: 12px;
  padding-top: 12px;
}

#views-ui-preview-form {
  margin: 12px;
}

#views-live-preview {
  margin: 0 12px;
}

#views-live-preview .views-query-info {
  overflow: auto;
}

/* Intentionally targeting h1 */
#views-live-preview h1.section-title {
  color: #818181;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6154;
  margin-bottom: 0;
  margin-top: 0;
}

#views-live-preview .view > * {
  margin-top: 18px;
}

#views-live-preview .preview-section {
  border: 1px dashed #dedede;
  margin: 0 -5px;
  padding: 3px 5px;
}

#views-live-preview li.views-row + li.views-row {
  margin-top: 18px;
}

/* The div.views-row is intentional and excludes li.views-row, for example */
#views-live-preview div.views-row + div.views-row {
  margin-top: 36px;
}

/* @group Query info table */

.views-query-info table {
  border-collapse: separate;
  border-color: #ddd;
  border-spacing: 0;
  margin: 10px 0;
}

.views-query-info table tr {
  background-color: #f9f9f9;
}

.views-query-info table th,
.views-query-info table td {
  color: #666;
  padding: 4px 10px;
}

/* @end */

/* @group Grid */

#views-live-preview .views-view-grid th,
#views-live-preview .views-view-grid td {
  vertical-align: top;
}

/* @end */

/* @group HTML list */

#views-live-preview .view-content > .item-list > ul {
  list-style-position: outside;
  padding-left: 21px; /* LTR */
}
[dir="rtl"] #views-live-preview .view-content > .item-list > ul {
  padding-left: 0;
  padding-right: 21px;
}

/* @end */

/* @end */

/* @group Add/edit argument form */

#edit-options-default-action {
  width: 300px;
  float: left;
}

#edit-options-exception {
  float: right;
  width: 250px;
  margin-top: -2px;
}

/* @end */

/* @group Drupal
 *
 * Overrides to Drupal system CSS
 */
div.messages {
  margin-bottom: 18px;
  line-height: 1.4555;
}

/* @end */

/* @group Buttons */

.dropbutton-multiple {
  position: absolute;
}
.dropbutton-widget {
  position: relative;
}
.js .dropbutton-wrapper .dropbutton .dropbutton-action > * {
  font-size: 10px;
}
.js .dropbutton-wrapper .dropbutton .dropbutton-action > .ajax-progress-throbber {
  position: absolute;
  right: -5px;
  top: -1px;
  z-index: 2;
}
.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 1.1em 0 0 0; /* LTR */
}
[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:first-child a {
  border-radius: 0 1.1em 0 0;
}
.js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 0 1.1em; /* LTR */
}
[dir="rtl"].js .dropbutton-wrapper.dropbutton-multiple.open .dropbutton-action:last-child a {
  border-radius: 0 0 1.1em 0;
}
.views-display-top .dropbutton-wrapper {
  position: absolute;
  right: 12px;
  top: 7px;
}
.views-display-top .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto;
}

.views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
  right: 5px; /* LTR */
  top: 4px;
}
[dir="rtl"] .views-ui-display-tab-bucket .dropbutton-wrapper {
  left: 5px;
  right: auto;
}

.views-ui-display-tab-bucket .dropbutton-wrapper .dropbutton-widget .dropbutton-action a {
  width: auto;
}

.views-ui-display-tab-actions .dropbutton-wrapper li a,
.views-ui-display-tab-actions .dropbutton-wrapper input {
  background: none;
  border: medium;
  font-family: inherit;
  font-size: 12px;
  padding-left: 12px;
  margin-bottom: 0;
}

.views-ui-display-tab-actions .dropbutton-wrapper input:hover {
  background: none;
  border: none;
}

/* @end */

.views-list-section {
  margin-bottom: 2em;
}

.form-textarea-wrapper,
.form-item-options-content {
  width: 100%;
}
